<article>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.thumb.url , alt: product.name %>
    <h1>
      <span><%= product.name %></span>
      <span><%= humanized_money_with_symbol product.price %></span>
    </h1>
  <% end%>
  <div>
    <%= render "soldout", product: product if product.quantity == 0   %>
    <%= render "instock", product: product if product.quantity > 0 %>
  </div>
</article>
